---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import { contactForm } from "@/consts";
import { type Lang, useTranslations } from "@/i18n";
import { Image } from "astro:assets";
import sentSuccessAnimation from "@/assets/images/sent-message.gif";
import sentFailAnimation from "@/assets/images/crying-sad.gif";

const locale = Astro.currentLocale as Lang;
const t = useTranslations(Astro.currentLocale as Lang);

const apiUrl = import.meta.env.BREVO_API_URL;

function isValidEmail(email: string) {
  const re =
    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(String(email).toLowerCase());
}

const errors = { name: "", email: "", subject: "", message: "" };

let formMessage;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const botDetected = data.get("emai");
    const message = data.get("message");

    if (typeof name !== "string" || name.length < 1) {
      errors.name += t(contactForm.errorInvalidName);
    }
    if (typeof email !== "string" || !isValidEmail(email)) {
      errors.email += t(contactForm.errorInvalidEmail);
    }
    if (typeof message !== "string" || message.length < 3) {
      errors.message += t(contactForm.errorInvalidMessage);
    }
    const hasErrors = Object.values(errors).some((msg) => msg);

    // All good! Send the message
    if (!hasErrors && !botDetected) {
      const smtpData = {
        sender: { email: email, name: name },
        to: [{ email: `${import.meta.env.BCC_EMAIL}` }],
        bcc: [{ email: `${import.meta.env.BCC_EMAIL}` }],
        subject: `[PAD Mijas] Nuevo mensaje de ${name}`,
        htmlContent: `<p><strong>Nombre:</strong> ${name}</p><p><strong>Email:</strong> ${email}</p><p><strong>Mensaje:</strong> ${message}</p>`,
      };

      const response = await fetch(apiUrl, {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "api-key": import.meta.env.BREVO_API_KEY,
        },
        body: JSON.stringify(smtpData),
      });

      if (response.ok) {
        formMessage = t(contactForm.successMessage);
        console.log('redirecting success...', formMessage);
        return Astro.redirect("./?success=true");
      } else {
        formMessage = t(contactForm.errorMessage) + " " + response.statusText;
        console.log('redirecting error...');
        return Astro.redirect(
          `./?errors=${JSON.stringify(errors)}&success=false`
        );
      }
    } else if (botDetected) {
      formMessage = t(contactForm.successMessage); // trick bots to think the form was submitted successfully
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
} else {
  // retrieve get params    
  const success = Astro.url.searchParams.get("success");
  if (success === "true") {
    formMessage = t(contactForm.successMessage);
  } else if (success === "false") {
    formMessage = t(contactForm.errorMessage);
  }
}
---

<Layout title="Contact"
  description="Drop us a line and we'll get back to you soon.">
  <main class="">
    <!-- Heading -->
    <div
      class="text-default relative mx-auto max-w-5xl px-8 py-12 md:max-w-4xl md:px-10 md:py-14 lg:py-16">
      <div
        class="mb-8 max-w-2xl text-center md:mx-auto md:mb-12 md:max-w-4xl lg:max-w-5xl">
        <div>
          <span
            class="font-handwrite text-2xl font-semibold tracking-wider text-secondary md:text-3xl">
            Contact
          </span>
          <h2
            class="mt-2 font-display text-4xl font-bold tracking-tight text-foreground md:text-5xl">
            Drop us a line and we'll help you find a new companion
          </h2>
          <p class="mt-8 text-lg text-muted md:text-xl">
            We are here to listen and work together in favor of the animals.
          </p>
        </div>
      </div>
    </div>

    <!-- Content -->
    <section class="w-full">
      <div class="relative mx-auto mb-20 max-w-5xl px-8 md:max-w-4xl md:px-14">
        <div class="mx-auto rounded-lg border border-gray-200 p-6 md:p-10">
          {
            formMessage ? (
              <div class="flex flex-col items-center justify-center mx-auto max-w-md gap-4 text-center text-lg font-bold">
                {formMessage === t(contactForm.successMessage) && (
                  <Image
                    src={sentSuccessAnimation}
                    alt="Success animation"
                    width={150}
                    height={150}
                  />
                )}
                {formMessage === t(contactForm.errorMessage) && (
                  <Image
                    src={sentFailAnimation}
                    alt="Fail animation Shiva crying"
                    width={150}
                    height={150}
                  />
                )}
                {formMessage}
              </div>
            ) : (
              <form
                method="POST"
                id="contact-form"
                name="contact form"
                class="mt-4 flex flex-col gap-3">
                <input type="hidden" name="form-name" value="contact" />
                <div>
                  <label for="contact-name" class="mb-1 text-gray-600">{t(contactForm.nameLabel)}</label>
                  <input
                    type="text"
                    class="form__input"
                    name="name"
                    id="contact-name"
                    placeholder={t(contactForm.namePlaceholder)}
                    required
                  />
                  {errors.name && <p>{errors.name}</p>}
                </div>
                <!-- honeypot field to catch bots. Purposefully mispelled "email" as "emai" to better trick bots -->
                <label for="emai" class="sr-only">Real users skip this field</label>
                <input id="emai" type="text" name="emai" class="sr-only" tabindex="-1" />
                <div>
                  <label for="contact-email" class="mb-1 text-gray-600">Email</label>
                  <input
                    type="email"
                    class="form__input"
                    name="email"
                    id="contact-email"
                    inputmode="email"
                    placeholder="your@email.com"
                    required
                  />
                  {errors.email && <p>{errors.email}</p>}
                </div>
                <div>
                  <label for="contact-message" class="text-gray-600">{t(contactForm.messageLabel)}</label>
                  <textarea
                    name="message"
                    class="form__input"
                    id="contact-message"
                    rows="4"
                    placeholder={t(contactForm.messagePlaceholder)}
                    required></textarea>
                  {errors.message && <p>{errors.message}</p>}
                </div>
                <div class="my-3 flex items-start">
                  <div class="mt-0.5 flex">
                    <input
                      id="disclaimer"
                      name="disclaimer"
                      type="checkbox"
                      required
                      class="text-md mt-1 block w-full cursor-pointer rounded-lg border border-gray-200 bg-white px-4 py-3 dark:border-gray-700 dark:bg-slate-900"
                    />
                  </div>
                  <div class="ml-3">
                    <label
                      for="disclaimer"
                      class="cursor-pointer select-none text-sm text-gray-600 dark:text-gray-400">
                      {t(contactForm.disclaimer)}
                    </label>
                  </div>
                </div>

                <button
                  type="submit"
                  class="flex items-center justify-center gap-2 rounded-md bg-primary p-2.5 transition hover:bg-primary/80 focus:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-opacity-50">
                  {t(contactForm.submitButton)}
                </button>
              </form>
            )
          }
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .form__input {
    @apply w-full rounded-md border border-transparent bg-gray-100 p-2.5 transition;
    @apply focus-visible:border-purple-600/70 focus-visible:ring-2 focus-visible:ring-purple-600 focus-visible:ring-opacity-50;
  }
</style>