---
import Logo from "@/components/ui/Logo.astro";
import type { MenuItemProps, FooterItemsProps, SocialItemProps } from "@/types";
import Social from "@/components/ui/Social.astro";
import { footerLinks, siteMeta, socialLinks } from "@/config";
---

<footer class="border-t-2 px-0 py-10">
  <div
    class="mx-auto flex max-w-3xl flex-wrap items-center justify-between space-x-4 p-4 px-4 sm:px-6 lg:max-w-6xl lg:px-8 xl:max-w-7xl">
    <div class="w-full">
      <div class="mb-6">
        <a
          aria-label="Template logo"
          href="https://themes.noice.store"
          class="flex items-center">
          <Logo href="/" />
        </a>
      </div>
      <div
        class="grid auto-cols-fr grid-cols-2 gap-y-8 sm:gap-6 lg:grid-flow-col">
        {
          footerLinks &&
            footerLinks.map((link) => (
              <div>
                <h2 class="mb-6 text-sm font-semibold uppercase">
                  {link.section}
                </h2>
                <ul class="">
                  {link.links.map((link: MenuItemProps) => (
                    <li class="mb-4">
                      <a
                        href={link.href}
                        class="hover:underline"
                        target={link.target}>
                        {link.name}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ))
        }
      </div>
    </div>
  </div>
  <hr class="my-6 sm:mx-auto lg:my-8" />
  <div
    class="mx-auto flex max-w-3xl flex-wrap items-center justify-between space-x-4 p-4 px-4 sm:px-6 lg:max-w-6xl lg:px-8 xl:max-w-7xl">
    <div
      class="flex w-full flex-col gap-4 sm:flex-row sm:items-center sm:justify-between">
      <span class="order-2 text-center text-sm sm:order-1 sm:text-left"
        >© 2024 <a href={siteMeta.baseUrl} class="hover:underline"
          >{siteMeta.title}</a
        >. All Rights Reserved.
      </span>
      <div
        class="order-1 mx-auto mt-4 flex space-x-6 sm:order-2 sm:mx-0 sm:mt-0 sm:justify-center">
        {socialLinks && <Social socialLinks={socialLinks} />}
      </div>
    </div>
  </div>
</footer>
