---
import type { MenuItemProps, SocialItemProps } from "types";
import Logo from "@/components/ui/Logo.astro";
import ThemeSwitcher from "@/components/ui/ThemeSwitcher.astro";
import Social from "@/components/ui/Social.astro";
import Link from "@/components/ui/Link.astro";
import Button from "../forms/Button.astro";
import { Icon } from "astro-icon/components";
import LanguageSelector from "@/components/i18n/LanguageSelector.astro";
import { useTranslations, LOCALES, type Lang, type Multilingual } from "@/i18n";
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from "astro:i18n";
import { getPages } from "@/api/pages";
import type { Page, PagesTranslation } from "@/api/types/pages";

const SECTION_ID = "main-menu";
const locale = Astro.currentLocale as Lang;
const t = useTranslations(Astro.currentLocale as Lang);

const lang = LOCALES[locale].lang || locale;

const pages = await getPages([SECTION_ID]);

interface LocalizedPage {
  href: Multilingual;
  name: Multilingual;
}

const localizedPages: LocalizedPage[] = pages.flatMap((page: Page) => {
  const pageTranslations: LocalizedPage = {
    href: {},
    name: {},
  };

  page.translations.forEach((translation: PagesTranslation) => {
    // href
    pageTranslations.href[translation.languages_code as Lang] =
      getRelativeLocaleUrl(translation.languages_code, translation.slug);

    // name
    pageTranslations.name[translation.languages_code as Lang] =
      translation.link;
  });

  return [pageTranslations];
});

console.log("localizedPages", localizedPages);

interface Props {
  mainMenuItems: MenuItemProps[];
  socialLinks: SocialItemProps[];
  showThemeSwitcher?: boolean;
  showLanguageSelector?: boolean;
}

const { mainMenuItems, socialLinks, showThemeSwitcher, showLanguageSelector } =
  Astro.props as Props;
---

<style>
  #mobile-menu {
    height: calc(100dvh - 10rem); /* Subtract the height of the footer */
  }
  #hamburger-checkbox:checked ~ #mobile-menu {
    @apply visible translate-y-0 opacity-100;
  }
  #mobile-menu {
    @apply invisible translate-y-4 opacity-0 transition-all duration-200 ease-in-out;
  }
  .mobile-menu-content {
    height: calc(100dvh - 10rem); /* Subtract the height of the footer */
    overflow-y: auto;
  }
  /* New overlay style */
  .mobile-menu-overlay {
    @apply invisible fixed inset-0 opacity-0 transition-opacity duration-200 ease-in-out;
  }
  #hamburger-checkbox:checked ~ .mobile-menu-overlay {
    @apply visible opacity-100;
  }
</style>

<nav
  class="mx-auto flex h-16 max-w-3xl items-center justify-between sm:flex lg:max-w-6xl xl:max-w-7xl">
  <Logo title="PAD" class="items-start py-4" href="/" />

  <!-- Main menu (desktop) -->
  <div class="hidden items-center justify-between p-4 sm:flex sm:gap-6">
    <ul class="mt-0 flex h-14 items-center space-x-8 font-medium">
      {
        mainMenuItems &&
          mainMenuItems.map((item: MenuItemProps) => (
            <li class="flex h-full items-center">
              {item.children ? (
                <div class="group flex h-full items-center">
                  <span class="flex cursor-pointer items-end gap-1">
                    {item.name}
                    <svg
                      class="pt-1"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24">
                      <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m6 9l6 6l6-6"
                      />
                    </svg>
                  </span>
                  <ul class="dropdown-menu animate-fade-up animate-duration-200 shadow-flat invisible absolute top-[65px] z-50 translate-y-2 flex-col space-y-4 rounded-lg border-2 bg-primary py-4 font-medium opacity-0 transition group-hover:visible group-hover:flex group-hover:translate-y-0 group-hover:opacity-100">
                    {item.children.map((child) => (
                      <li class="flex">
                        <Link
                          aria-label={t(child.name)}
                          class="block px-8 py-0.5"
                          href={getRelativeLocaleUrl(lang, t(child.href))}>
                          {t(child.name)}
                        </Link>
                      </li>
                    ))}
                  </ul>
                </div>
              ) : (
                <Link
                  aria-label={t(item.name)}
                  class="block w-full p-0 hover:underline hover:underline-offset-2"
                  href={getRelativeLocaleUrl(lang, t(item.href))}>
                  {t(item.name)}
                </Link>
              )}
            </li>
          ))
      }
      <!-- Dynamic pages -->
      {
        localizedPages &&
          localizedPages.map((item: LocalizedPage) => (
            <li class="flex h-full items-center">
              <Link
                aria-label={t(item.name)}
                href={`${t(item.href)}`}
                class="block w-full p-0 hover:underline hover:underline-offset-2">
                {t(item.name)}
              </Link>
            </li>
          ))
      }
    </ul>
  </div>
  <!-- / Main menu (desktop) -->

  <!-- Right side (desktop) -->
  <div class="hidden items-center justify-end p-4 sm:flex sm:gap-6">
    <Button
      variant="outline"
      size="lg"
      class="flex items-center justify-center gap-2">
      <Icon
        name="tabler:heart-filled"
        class="h-5 w-5 text-foreground group-hover:text-red-500"
      />
      Donate
    </Button>
    <LanguageSelector />
  </div>
  <!-- / Right side (desktop) -->

  <!-- Hamburger button -->
  <div class="items-center justify-center self-center sm:hidden">
    <input type="checkbox" class="peer sr-only" id="hamburger-checkbox" />
    <label
      for="hamburger-checkbox"
      class="relative inset-0 flex h-10 w-10 cursor-pointer flex-col items-center justify-center space-y-1.5 px-4 transition-all duration-200 peer-checked:space-y-0">
      <span
        class="block h-0.5 w-5 bg-muted-foreground transition-all duration-200 peer-checked:translate-y-1.5 peer-checked:rotate-45 peer-checked:bg-foreground"
      ></span>
      <span
        class="block h-0.5 w-5 bg-muted-foreground transition-all duration-200 peer-checked:-translate-y-1.5 peer-checked:-rotate-45 peer-checked:bg-foreground"
      ></span>
    </label>

    <!-- Mobile menu overlay -->
    <div class="mobile-menu-overlay z-40"></div>

    <!-- Mobile menu -->
    <div
      role="menu"
      aria-label="Main Menu"
      class="absolute inset-0 top-20 z-50 col-span-2 w-full bg-primary"
      id="mobile-menu">
      <div class="mobile-menu-content overflow-y-auto">
        <ul
          class="relative flex w-full flex-col divide-y divide-black/10 text-2xl font-medium">
          {
            mainMenuItems &&
              mainMenuItems.map((item: MenuItemProps) => (
                <>
                  {item.children ? (
                    <>
                      <li class="dropdown-item group peer p-0">
                        <span class="flex w-full items-center justify-between p-6">
                          {item.name}
                          <svg
                            class="rotate-0 pt-1 transition-transform group-[.is-open]:rotate-180"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24">
                            <path
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="m6 9l6 6l6-6"
                            />
                          </svg>
                        </span>
                      </li>
                      {item.children.map((child: MenuItemProps) => (
                        <li class="hidden -translate-y-4 p-6 pl-14 opacity-0 transition-all peer-[.is-open]:block peer-[.is-open]:translate-y-0 peer-[.is-open]:opacity-100">
                          <Link
                            aria-label={t(child.name)}
                            class="block w-full p-0 text-base font-normal transition-all"
                            href={getRelativeLocaleUrl(lang, t(child.href))}>
                            {child.name}
                          </Link>
                        </li>
                      ))}
                    </>
                  ) : (
                    <li class="p-6">
                      <Link
                        aria-label={t(item.name)}
                        class="block w-full p-0"
                        href={getRelativeLocaleUrl(lang, t(item.href))}>
                        {t(item.name)}
                      </Link>
                    </li>
                  )}
                </>
              ))
          }
          <!-- Dynamic pages -->
          {
            localizedPages &&
              localizedPages.map((item: LocalizedPage) => (
                <li class="p-6">
                  <Link
                    aria-label={t(item.name)}
                    href={`${t(item.href)}`}
                    class="block w-full p-0 hover:underline hover:underline-offset-2">
                    {t(item.name)}
                  </Link>
                </li>
              ))
          }
        </ul>
      </div>
      <div
        id="mobile-menu-gradient"
        class="mobile-menu-gradient absolute -bottom-4 z-10 h-10 w-full bg-gradient-to-t from-primary from-60% to-transparent">
      </div>
      <div
        id="mobile-menu-footer"
        class="mobile-menu-footer bottom-0 left-0 m-auto flex h-20 items-center bg-primary p-4">
        <div
          class="navbar-footer flex w-full items-center justify-between gap-4">
          {showThemeSwitcher && <ThemeSwitcher />}
          {showLanguageSelector && <LanguageSelector />}
          <Social socialLinks={socialLinks} />
        </div>
      </div>
    </div>
    <!-- / Mobile menu -->
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const checkbox = document.getElementById(
      "hamburger-checkbox"
    ) as HTMLInputElement;
    const body = document.body;

    checkbox.addEventListener("change", () => {
      if (checkbox.checked) {
        body.classList.add("overflow-hidden");
      } else {
        body.classList.remove("overflow-hidden");
      }
    });

    // Close menu when clicking outside
    document
      .querySelector(".mobile-menu-overlay")
      ?.addEventListener("click", () => {
        checkbox.checked = false;
        body.classList.remove("overflow-hidden");
      });
  });
</script>
