---
import { getDogs } from "../api/dogs";
import Layout from "../layouts/Layout.astro";
import { Dog, Dogs } from "../api/types/dog";
import PetCard from "../components/ui/PetCard.astro";

const dogs = (await getDogs()) as Dogs;
console.log(dogs);
---

<Layout title="Dogs">
  <main
    class="mx-auto flex max-w-7xl flex-wrap items-center justify-between space-x-4 p-4 px-4 sm:px-6 md:max-w-4xl lg:px-8"
  >
    <section class="w-full">
      <div class="mb-2 mt-16 flex flex-col text-center">
        <h2
          class="font-handwrite text-2xl font-semibold tracking-wider text-secondary md:text-3xl"
        >
          En busca de un hogar
        </h2>
        <p
          class="font-display mt-2 text-4xl font-bold tracking-tight text-foreground md:text-5xl"
        >
          Nuestros perros
        </p>
        <p class="mx-auto mt-5 max-w-prose text-lg text-gray-500 md:text-xl">
          Visítanos regularmente y conoce a nuestros recién llegados peludos
        </p>
      </div>

      <div
        class="grid w-full gap-4 px-6 py-12 sm:grid-cols-2 md:grid-cols-3 md:gap-8 md:px-0 md:py-14 lg:grid-cols-4 lg:py-16"
      >
        {
          dogs &&
            dogs.map((dog) => (
              <div>
                <PetCard
                  status={dog.status}
                  slug={dog.slug}
                  name={dog.name}
                  gender={dog.gender}
                  birthday={dog.birth_date}
                  image={dog.profile_picture}
                />
              </div>
            ))
        }
      </div>
    </section>
  </main>
</Layout>
