---
import { siteMeta } from "@/config";
import { Image } from "astro:assets";
import logo from "@/assets/logo.svg";
import logoDark from "@/assets/logo-dark.svg";

const { title, href = siteMeta.baseUrl, width = 32, height = 32 } = Astro.props;
---

<a
  aria-label={title}
  href={href}
  class="flex gap-2 items-center font-semibold text-2xl">
  <Image
    class="dark:hidden"
    src={logo}
    alt={title ?? ""}
    width={width}
    height={height}
  />
  <Image
    class="hidden dark:block"
    src={logoDark}
    alt={title ?? ""}
    width={width}
    height={height}
  />
  {title}
</a>
