---
import type { MenuItemProps } from "types";
import Link from "@/components/Link.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";

interface Props {
  mainMenuItems: MenuItemProps[];
  class?: string;
}

const { mainMenuItems, class: className = "" } = Astro.props;
---

<div
  class:list={[
    "items-center justify-between hidden sm:flex sm:gap-6",
    className,
  ]}>
  <ul class="flex items-center mt-0 space-x-8 font-medium h-14">
    {
      mainMenuItems &&
        mainMenuItems.map((item: MenuItemProps) => (
          <li class="flex items-center h-full">
            {item.children ? (
              <div class="flex items-center h-full group">
                <span class="flex items-end gap-1 cursor-pointer">
                  {item.name}
                  <svg
                    class="pt-1"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24">
                    <path
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m6 9l6 6l6-6"
                    />
                  </svg>
                </span>
                <ul class="dropdown-menu animate-fade-up animate-duration-200 bg-background invisible absolute top-[65px] z-50 translate-y-2 flex-col space-y-4 rounded-lg border-2 py-4 font-medium opacity-0 shadow-flat transition group-hover:visible group-hover:flex group-hover:translate-y-0 group-hover:opacity-100">
                  {item.children.map((child) => (
                    <li class="flex">
                      <Link
                        aria-label={child.name}
                        class="block px-8 py-0.5"
                        href={child.href}>
                        {child.name}
                      </Link>
                    </li>
                  ))}
                </ul>
              </div>
            ) : (
              <Link
                aria-label={item.name}
                class="block w-full p-0"
                href={item.href}>
                {item.name}
              </Link>
            )}
          </li>
        ))
    }
  </ul>
  <ThemeSwitcher />
</div>
