---
import type { MenuItemProps } from "types";
import Hamburger from "@/components/Hamburger.astro";
import Link from "@/components/Link.astro";
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import { Icon } from "astro-icon/components";
import MenuDesktop from "./MenuDesktop.astro";
import MenuMobile from "./MenuMobile.astro";

interface Props {
  mainMenuItems: MenuItemProps[];
}

const { mainMenuItems } = Astro.props;
---

<style>
  #mobile-menu {
    height: calc(100vh - 10rem); /* Subtract the height of the footer */
  }
  #hamburger-checkbox:checked ~ #mobile-menu {
    @apply translate-y-0 opacity-100;
  }
  .mobile-menu-content {
    height: 100%;
    overflow-y: auto;
  }
</style>

<header>
  <nav
    class="flex items-center justify-between h-16 max-w-3xl mx-auto sm:flex lg:max-w-6xl xl:max-w-7xl">
    <Logo class="items-start col-span-1 p-4" title="noicethemes" href="/" />

    <!-- Main menu (desktop) -->
    <MenuDesktop mainMenuItems={mainMenuItems} />

    <!-- Hamburger button -->
    <div
      class="items-center self-center justify-center col-span-1 ml-auto sm:hidden">
      <input type="checkbox" class="sr-only peer" id="hamburger-checkbox" />
      <label
        for="hamburger-checkbox"
        class="relative px-4 w-10 h-10 cursor-pointer inset-0 flex flex-col items-center justify-center space-y-1.5 transition-all duration-200 peer-checked:space-y-0">
        <span
          class="block w-5 h-0.5 bg-muted-foreground transition-all duration-200 peer-checked:rotate-45 peer-checked:translate-y-1.5 peer-checked:bg-foreground"
        ></span>
        <span
          class="block w-5 h-0.5 bg-muted-foreground transition-all duration-200 peer-checked:-rotate-45 peer-checked:-translate-y-1.5 peer-checked:bg-foreground"
        ></span>
      </label>

      <!-- Mobile menu -->
      <div
        role="menu"
        aria-label="Main Menu"
        class="absolute inset-0 w-full col-span-2 transition duration-200 ease-in-out -translate-y-4 opacity-0 top-20 bg-background"
        id="mobile-menu">
        <div class="overflow-y-auto mobile-menu-content">
          <ul
            class="relative flex flex-col w-full text-2xl font-medium divide-y">
            {
              mainMenuItems &&
                mainMenuItems.map((item: MenuItemProps) => (
                  <>
                    {item.children ? (
                      <>
                        <li class="p-0 dropdown-item group peer">
                          <span class="flex items-center justify-between w-full p-6">
                            {item.name}
                            <svg
                              class="rotate-0 pt-1 transition-transform group-[.is-open]:rotate-180"
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24">
                              <path
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m6 9l6 6l6-6"
                              />
                            </svg>
                          </span>
                        </li>
                        {item.children.map((child: MenuItemProps) => (
                          <li class="hidden -translate-y-4 p-6 pl-14 opacity-0 transition-all peer-[.is-open]:block peer-[.is-open]:translate-y-0 peer-[.is-open]:opacity-100">
                            <Link
                              aria-label={child.name}
                              class="block w-full p-0 text-base font-normal transition-all"
                              href={child.href}>
                              {child.name}
                            </Link>
                          </li>
                        ))}
                      </>
                    ) : (
                      <li class="p-6">
                        <Link
                          aria-label={item.name}
                          class="block w-full p-0"
                          href={item.href}>
                          {item.name}
                        </Link>
                      </li>
                    )}
                  </>
                ))
            }
          </ul>
        </div>
        <div
          id="mobile-menu-gradient"
          class="absolute w-full h-10 -bottom-4 bg-gradient-to-t from-background from-60% to-transparent z-10 mobile-menu-gradient">
        </div>
        <div
          id="mobile-menu-footer"
          class="bottom-0 left-0 flex items-center h-20 p-4 m-auto mobile-menu-footer bg-background">
          <div
            class="flex items-center justify-between w-full gap-4 navbar-footer">
            <ThemeSwitcher />
            <Social />
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const checkbox = document.getElementById(
      "hamburger-checkbox"
    ) as HTMLInputElement;

    checkbox.addEventListener("change", () => {
      if (checkbox.checked) {
        document.body.classList.add("overflow-hidden");
      } else {
        document.body.classList.remove("overflow-hidden");
      }
    });
  });
</script>
