---
import { Image } from "astro:assets";
import Button from "./Button.astro";

const { theme } = Astro.props;
---

<div class="flex flex-col gap-4 w-full p-4">
  <Image
    src={theme.data.image}
    alt={theme.data.title}
    width={1670}
    height={1018}
    class="rounded-md"
  />
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-2xl font-semibold">{theme.data.title}</h2>
      <p class="text-base text-muted-foreground">{theme.data.description}</p>
    </div>
    <Button variant="default">
      <a href={`/themes/${theme.slug}`}>Buy Now</a>
    </Button>
  </div>
</div>
