---
import { Image } from "astro:assets";
import Button from "@/components/Button.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  theme: CollectionEntry<"themes">;
}
const { theme } = Astro.props;
---

<div class="flex flex-col gap-4 w-full p-4">
  <a href={`/themes/${theme.slug}`}>
    <Image
      src={theme.data.cover}
      alt={theme.data.title}
      width={656}
      height={400}
      class="rounded-md hover:opacity-75"
      format="avif"
    />
  </a>
  <div class="flex gap-4 justify-between items-center">
    <div>
      <h2 class="text-2xl font-semibold">{theme.data.title}</h2>
      <p class="text-base text-muted-foreground">{theme.data.description}</p>
    </div>
    <Button variant="default">
      <a href={`/themes/${theme.slug}`}>Buy</a>
    </Button>
  </div>
</div>
