---
import { type Lang } from "@/i18n";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Button from "@/components/forms/Button.astro";
import { getAssetURL } from "@/api/client";
import { type Image as ImageType } from "@/api/types/image";

const locale = Astro.currentLocale as Lang;

interface Props {
  cover?: ImageType;
  title: string;
  category?: string;
  price?: number;
  datetime?: Date;
  slug: string;
  description?: string;
  address?: string;
  location?: string;
}

const {
  cover,
  title,
  datetime,
  slug,
  category,
  price,
  address,
  location,
} = Astro.props;

const defaultCover =
  "https://utfs.io/f/yWKelNW56BapM3EghtsXdsCk2SihlDQqrBTpyIJxmY3OHKw4";
const coverPicture = cover ? getAssetURL(cover.id, "profile") : defaultCover;

const date =
  datetime &&
  new Date(datetime).toLocaleDateString(locale, {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
  });
---

<div class="group block">
  <div
    class="flex flex-col rounded-lg border border-[#ffffff29] bg-white shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur transition-shadow hover:shadow-[0_6px_40px_rgba(0,0,0,0.2)]">
    <div class="relative aspect-video overflow-hidden rounded-t-lg">
      <Image
        src={coverPicture}
        alt={title ?? ""}
        width={1080}
        height={720}
        class="object-cover transition-transform group-hover:scale-105"
      />
      <span
        class="absolute left-2 top-2 rounded bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300">
        {category}
      </span>
    </div>
    <div class="flex flex-col gap-2 p-4">
      <h3 class="mb-4 line-clamp-1 text-xl font-bold">{title}</h3>
      <div class="flex items-start gap-1 text-sm text-muted">
        <Icon name="tabler:calendar" class="h-5 w-5" />
        <span class="first-letter:uppercase">{date}</span>
      </div>
      <div class="flex items-start gap-1 text-sm text-muted">
        <Icon name="tabler:map-pin" class="h-5 w-5" />
        <a class="overflow-ellipsis" href={location}>{address}</a>
      </div>
      <div class="flex items-start gap-1 text-sm text-muted">
        <Icon name="tabler:tag" class="h-5 w-5" />
        <span>{price} €</span>
      </div>
    </div>
    <div class="p-4 pt-0">
      <Button href={`/${locale}/eventos/${slug}`} variant="default">
        Más información
      </Button>
    </div>
  </div>
</div>
