---
import { siteMeta } from "@/config";
import { Image } from "astro:assets";
import logo from "@/assets/images/logo.svg";
import logoDark from "@/assets/images/logo-dark.svg";

const {
  title,
  href = siteMeta.baseUrl,
  width = 60,
  height = 60,
  class: className = "",
} = Astro.props;
---

<a
  aria-label={title}
  href={href}
  class:list={["flex gap-2 text-2xl font-semibold", className]}
>
  <Image
    class="dark:hidden"
    src={logo}
    alt={title ?? ""}
    width={width}
    height={height}
  />
  <Image
    class="hidden dark:block"
    src={logoDark}
    alt={title ?? ""}
    width={width}
    height={height}
  />
  {title}
</a>
