---
import { uiStrings } from "@/consts";
import { type Lang, useTranslations } from "@/i18n";
import { Icon } from "astro-icon/components";

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

interface Props {
  icon?: string;
  title: string;
  slug: string;
  description?: string;
  cta?: string;
  ctaLink?: string;
}

const { icon, title, slug, description } = Astro.props;

// https://admin.padmijas.org/items/pages?&deep[translations][_filter][_and][0][languages_code][_eq]=es&deep[translations][_filter][_and][1][slug][_eq]=voluntarios-de-transporte
---

<div
  class="relative flex flex-col rounded-lg bg-white p-6 shadow-md backdrop-blur hover:shadow-lg dark:bg-slate-900 dark:shadow-lg">
  <Icon name={icon} class="mb-6 h-12 w-12 text-secondary" />

  <div class="text-xl font-bold">{title}</div>
  <p class="text-md mt-2 text-muted">
    {description}
  </p>

  <div class="mt-auto">
    <a
      class="mt-3 flex items-center justify-center gap-2 rounded-md bg-primary px-8 py-3 text-foreground hover:bg-primary/90"
      href={`../${slug}`}>{t(uiStrings.moreInfo)}</a
    >
  </div>
</div>
