---
import { cva } from "class-variance-authority";
import { formatDistanceToNowStrict } from "date-fns";
import { es } from "date-fns/locale";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { Dog } from "@/api/types/dog";
import { getAssetURL } from "../../api/client";
import { useTranslations } from "@/i18n";
import type { Lang, Multilingual } from "@/i18n";
import { petCard } from "@/consts";
export interface Props {
  dog: Dog;
}
const locale = Astro.currentLocale as Lang;
const t = useTranslations(Astro.currentLocale as Lang);

const petStatus = cva(
  [
    "aspect-square",
    "group-hover:-translate-y-2",
    "group-hover:ring-8",
    "group-hover:shadow-lg",
    "mb-2",
    "object-cover",
    "rounded-full",
    "transition-all",
  ],
  {
    variants: {
      status: {
        adopted: ["ring-8", "ring-primary", "group-hover:ring-primary"],
        reserved: ["ring-8", "ring-purple-700", "group-hover:ring-purple-500"],
        default: ["ring-primary"],
      },
      size: {
        default: ["w-full"],
        sm: ["w-32 h-32"],
        md: ["w-48 h-48"],
        lg: ["h-52 h-52"],
        xl: ["h-64 h-64"],
      },
    },
    compoundVariants: [
      {
        status: "adopted",
        class: "ring-8",
      },
      {
        status: "reserved",
        class: "ring-8",
      },
    ],
  }
);

const { dog } = Astro.props;

const currentUrl: Multilingual = {
  es: "nuestros-perros",
  en: "our-dogs",
  ja: "犬たち",
  "zh-cn": "我们的狗",
  ar: "أنا الكلب",
};

const baseUrl = `/${locale}/${t(currentUrl)}`;

const ageTimeAgo = formatDistanceToNowStrict(new Date(dog.birth_date), {
  locale: locale == "es" ? es : undefined,
});
const thumbnail = dog.profile_picture && getAssetURL(dog.profile_picture.id);
const imageThumbnail = {
  src: thumbnail ? thumbnail : "/dog-placeholder.png",
  alt: "Dog picture",
};

const statusCard =
  (dog.status === "adopted" && "adopted") ||
  (dog.status === "reserved" && "reserved") ||
  "default";
const sizeCard =
  (dog.size === "sm" && "sm") ||
  (dog.size === "md" && "md") ||
  (dog.size === "lg" && "lg") ||
  (dog.size === "xl" && "xl") ||
  "default";
---

<div class="not-prose">
  <a
    href={`${baseUrl}/${dog.slug}`}
    class="group flex flex-col items-center px-6 py-5 md:px-2">
    <Image
      class={petStatus({ status: statusCard, size: sizeCard })}
      src={imageThumbnail.src}
      alt={imageThumbnail.alt || "Dog picture"}
      loading="lazy"
      decoding="async"
      quality="mid"
      width="500"
      height="500"
    />
    {
      dog.status == "adopted" ? (
        <span class="md:text-md z-10 -mt-6 flex items-center rounded-full bg-primary p-2 text-xs font-medium uppercase text-black transition-all group-hover:-translate-y-2 group-hover:bg-primary">
          <Icon name="tabler:check" class="h-5 w-5 fill-white" />
          <strong>{t(petCard.isAdopted)}</strong>
        </span>
      ) : (
        dog.status == "reserved" && (
          <span class="md:text-md z-10 -mt-6 flex items-center rounded-full bg-purple-700 p-2 text-xs font-medium uppercase text-white transition-all group-hover:-translate-y-2 group-hover:bg-purple-500">
            <Icon name="tabler:bookmark" class="h-5 w-5 fill-white" />
            <strong>{t(petCard.isReserved)}</strong>
          </span>
        )
      )
    }
    <h5 class="mb-2 mt-8 text-4xl font-medium text-gray-900 dark:text-white">
      {dog.name}
    </h5>
    <div class="mx-auto flex items-center justify-center gap-1 text-muted">
      {
        dog.birth_date && (
          <>
            {ageTimeAgo}{" "}
            <>
              <div>•</div>
              <Icon
                name={
                  dog.gender === "male"
                    ? "tabler:gender-male"
                    : "tabler:gender-female"
                }
              />
            </>
          </>
        )
      }
    </div>
  </a>
</div>
