---
import { Image } from "astro:assets";
import Button from "@/components/forms/Button.astro";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";

interface Props {
  theme: CollectionEntry<"themes">;
}
const { theme } = Astro.props;
---

<div class="flex flex-col w-full gap-4 p-4">
  <a href={`/themes/${theme.id}`}>
    <Image
      src={theme.data.cover}
      alt={theme.data.title ?? ""}
      width={656}
      height={400}
      class="rounded-md hover:opacity-75"
      format="avif"
    />
  </a>
  <div class="flex items-center justify-between gap-4">
    <h2 class="text-2xl font-semibold">{theme.data.title}</h2>
    <p class="text-lg md:text-2xl text-muted-foreground">${theme.data.price}</p>
  </div>
  <Button class="w-full text-center md:w-auto" variant="default" href={`/themes/${theme.id}`} target="_self">
    Buy now
    <Icon name="tabler:arrow-right" class="w-5 h-5" />
  </Button>
</div>
